<div style="width: 100%; display: flex; justify-content: center">
    <figure>
        <img src="{{ .Destination | safeURL | absURL }}" {{ with .Text }}alt="{{ . }}" title="{{ . }}" {{ end }}/>
        <figcaption style="text-align: center">{{ .PlainText }}</figcaption>
    </figure>
</div>
