.header {
    position: sticky;
    top: 0;
    z-index: 10;
}

@media (prefers-color-scheme: dark) {
    body:not(.light-theme) {
        background: var(--background);
        /*background: -webkit-radial-gradient(top, var(--background), var(--header));*/
        background: -webkit-radial-gradient(top, var(--background-secondary), var(--background));
        /*background: -moz-radial-gradient(top, var(--background), var(--header));*/
        background: -moz-radial-gradient(top, var(--background-secondary), var(--background));
        background-attachment: fixed;
    }
}
